apiVersion: batch/v1
kind: Job
metadata:
  name: sources-job
spec:
  completions: 2
  parallelism: 2
  completionMode: Indexed
  template:
    spec:
      restartPolicy: Never
      containers:
      - name: sources
        image: mediacorr-sources:latest
        command: ["python", "-m", "app.sources"]
