apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: mediacorr-pvc
  namespace: mediacorr
spec:
  accessModes:
    - ReadWriteMany
  storageClassName: efs-sc
  resources:
    requests:
      storage: 10Gi
